<div class="jumbotron mt-4 mb-4">
    <h2 class="display-4">Hello, world!</h2>
    <p class="lead">I developed this teleprompter web app in my spare time, because all the Android apps out there where not exactly what I needed or to expensive. As professional software developer (<a href="https://youtube.com/eisenfell">and YouTuber</a>) I decided to create my own app.</p>
    <p class="lead">So here it is and it's free for you to use. If you have any suggestions contact me: <a href="mailto:ms@letsshootshow.de?subject=WebTeleprompterApp suggestion">ms@letsshootshow.de</a>.</p>
    <p class="lead">If you like this peace of software I would be happy to receive a small <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=N3XHP4EAX49B8&source=url">donation via Paypal</a>.</p>
    <p class="lead">Sincerely,</p>
    <p class="lead">Marc</p>
</div>
