<div class="jumbotron mt-4 mb-4">
    <h2 class="display-4">Hello, world!</h2>
    <p class="lead">Ich habe die Teleprompter Web App entwickelt, weil alle Angebote für Android mir nicht wirklich gefielen, oder mir zu teuer waren. Als professioneller Software Entwickler (<a href="https://youtube.com/eisenfell">und YouTuber</a>) habe ich entschieden, einfach meine eigene App zu entwickeln.</p>
    <p class="lead">Hier ist also die App und sie frei verwendbar. Wenn Du irgendwelche Vorschläge für die Weiterenwicklung hast, schreibe mir: <a href="mailto:ms@letsshootshow.de?subject=WebTeleprompterApp Vorschlag">ms@letsshootshow.de</a>.</p>
    <p class="lead">Wenn Du dieses Stück Software magst, würde ich mich über eine kleine <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=N3XHP4EAX49B8&source=url">Spende via Paypal</a> freuen.</p>
    <p class="lead">Herzliche Grüße,</p>
    <p class="lead">Marc</p>
</div>
