<div class="jumbotron">
    <p class="lead">Dies ist eine Teleprompter Anwendung, die im Browser läuft. Du kannst diese App aber auch auf deinem Smartphone, Tablet, oder persönlichem Computer installieren (iOS, Android, Windows, ...).</p>
    <p class="lead">Alle Daten werden lokal auf Deinem Client gespeichert. Ist die Anwendung einmal auf Deinem Tablet oder Smartphone installiert, läuft sie auch ohne Internet-Verbindung.</p>
    <p class="lead">Die WebTeleprompter Anwendung unterstützt derzeit die Sprachen Deutsch und Englisch. Außerdem kannst Du noch viele Dinge selbst konfigurieren, schau mal in die <a href="/settings" onclick="app.getPage(this.href); return false">Einstellungen</a>!</p>
    <p class="lead">FAQ: Ja, diese Anwendung unterstützt gespiegelten Text. Du kannst damit Teleprompter Geräte verwenden, die einen gespiegelten Text brauchen, um diesen anzuzeigen.</p>
</div>
