<div class="jumbotron">
    <p class="lead">This is a teleprompter application that runs in your browser. You can also install this application on your smartphone or personal computer (iOS, Android, Windows, ...).</p>
    <p class="lead">All data is stored locally on your client. Once installed on your phone or computer you can even use this application without an internet connection.</p>
    <p class="lead">The WebTeleprompter application supports currently english an german language and you can set many options to configure your teleprompter screen. Check the <a href="/settings" onclick="app.getPage(this.href); return false">settings</a>!</p>
    <p class="lead">FAQ: Yes this application supports mirrored text. You can use it with teleprompter devices that use mirrors for displaying the text.</p>
</div>
